<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <title>Todo lists App</title>
    <style>
        nav{
            width: 100%;
            position: fixed;
            z-index: 999;
        }
        ul{
            margin-bottom: 0;
        }
        ul li{
            list-style: none;
            padding: 13px;
            display: inline-block;
        }
        .toggle{
            width: 100%;
            color: black;
            font-size: 30px;
            padding: 8px 20px;
            text-align: right;
            box-sizing: border-box;
            display: none;
        }
        #todo{
            margin-left: 16px;
        }
        #user{
            padding: 13px;
            margin-left: 10em;
        }
        @media (max-width:800px){
            .toggle{
                display: block;
            }
            ul{
                width: 100%;
                display: none;
            }
            ul li{
                display: block;
                text-align: center;
            }
            .active{
                display: block;
            }
            .extra{
                display: none;
            }
            .texter{
                font-size: 10px;
            }
        }
        @media (max-width: 1000px){
            #user{
                margin-left: 4em;
            }
        }
        @media (max-width: 800px ){
            #tex{
                margin-left: 5em;
            }
        }
        @media (max-width: 600px){
            #tex{
                margin-left: 2em;
            }
        }
        #tex{
            font-size: 0.8em;
        }
    </style>
</head>
<body>
    {{!-- hidden navbar for small screens --}}
    <nav id="navbar" class="bg-light">
        <div class="toggle">
             <a href="/"><span style="font-size:0.8em" class="text-dark float-left">TODO<span class="text-info">App</span></a>
            {{#if user}}
            <span id="tex" class="float-left text-dark">Welcome <span class="text-info">{{user}}</span></span>
            {{/if}}
            <i id="bared" onclick="bar()" class="fa fa-bars menu" aria-hidden="true"></i>
        </div>
        <a href="/"><span style="font-size:1.5em" id="todo" class="extra text-dark navbar-text">TODO<span class="text-info">App</span></a>
            {{#if user}}
            <span style="font-size:1.5em" id="user" class="extra navbar-text text-dark">Welcome <span class="text-info">{{user}}</span></span>
            {{/if}}
        <ul class="float-right">
            {{#if user}}
            <li><a class="btn btn-outline-info" href="/todos">Create Todos</a></li>
            <li><a class="btn btn-outline-info" href="/logout">LOGOUT</a></li>
            {{else}}
            <li><a class="btn btn-outline-info" href="/login">LOGIN</a></li>
            <li><a class="btn btn-outline-info" href="/signup">REGISTER</a></li>
            {{/if}}
        </ul>
    </nav>
    <br><br><br><br><br><br>

     <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 style="font-size: 4em">Organize life </h1>
                <h1 style="font-size: 4em" class="text-info">Then go enjoy it...</h1>
                <p style="font-size: 1.2em">Life can feel overwhelming, but it doesn’t have to. This TODOApp lets you keep track of everything in one place, so you can get it all done and enjoy more peace of mind along the way.</p><br>
                {{#if user}}
                <a class="btn btn-info btn-lg" href="/todos">Lets create todos...</a>
                {{else}}
                <a class="btn btn-info btn-lg" href="/signup">Get started - Its Free</a>
                {{/if}}
            </div>
            <div class="col-mid-6">
                <img height="500em" width="570em" src="https://d3ptyyxy2at9ui.cloudfront.net/illo-organized-life-a11f87.png" alt="LOGO">
            </div>
        </div>
        </div>
        <br><br><br><br><br><br><br>
        <div class="bg-light container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                     <div class="col-mid-5">
                        <img height="400em" width="470em" src="https://d3ptyyxy2at9ui.cloudfront.net/illo-remember-d31285.png" alt="LOGO">
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                <br><br><br>
                <h1 style="font-size: 2em">Never worry about forgetting things again</h1>
                <p style="font-size: 1.2em">Let This App remember it all for you. You can get tasks out of your head and onto your to-do list anytime, anywhere, on any device.</p>
                </div>
                </div>
                </div>
                </div>
                <br><br><br><br><br>
                <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h1 style="font-size: 2em">TODOApp helps millions of people feel more in control of the lives</h1>
                        <p style="font-size: 1.2em">is trusted by leaders at some of the world’s most inspired organizations.</p>
                    </div>
                </div>
                </div>
                <br><br><br><br><br><br><br><br><br><br>
                <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Unclutter your mind with this TODOApp</h1>
                        {{#if user}}
                        <a class="btn btn-info btn-lg" href="/todos">Lets create todos...</a>
                        {{else}}
                        <a class="btn btn-info btn-lg" href="/signup">Get started - Its Free</a>
                        {{/if}}
                    </div>
                </div>
                </div>
                <br><br><br><br><br><br><br><br><br><br>
             <hr>
             <br><br><br>

             {{!-- Footer --}}
     <div style="height:5em" class="text-center text-dark bg-light card-footer">
         2019 Copyright!!!    
    </div>
</body>

<script>
    //This is to change the colour of navbar while scrolling on the homepage
    window.onscroll = function () {scrollfunction()};
    function scrollfunction(){
        if(document.body.scrollTop > 750 || document.documentElement.scrollTop > 750){
            var element = document.getElementById('navbar');
            element.classList.remove('bg-light');
            element.style.background = 'white';
        }
        else{
            var element = document.getElementById('navbar');
            element.classList.add('bg-light');
        }
        if(document.body.scrollTop > 1150 || document.documentElement.scrollTop > 1150){
            var element = document.getElementById('navbar');
            element.classList.add('bg-light');
        };
    };
    
    //This for the the sidebar when the screen is small
    $(document).ready(() => {
        $('.menu').click(() => {
            $('ul').fadeToggle('active');
        });
    });
    function bar(){
        var element = document.getElementById('bared');
        if(element.classList.contains('fa-times')){
            element.classList.add('fa-bars');
            element.classList.remove('fa-times');
        }
        else if(element.classList.contains('fa-bars')){
            element.classList.add('fa-times');
            element.classList.remove('fa-bars');
        }
    }
    
</script>
</html>